<!DOCTYPE html>
<html lang="en">
<head>

	<title>More Recipes</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css"  />
	<link rel="stylesheet" href="css/bootstrap-extend.min.css"/>
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="css/jPinning.min.css"  />
	<link rel="stylesheet" href="css/bootstrap-datepicker3.css"/>
<link rel="stylesheet" href="css/buttons.min.css"/>
<link rel="stylesheet" href="css/lightbox.css"/>
<link rel="stylesheet" href="css/bootstrap-fileinput.css">
<link rel="stylesheet" type="text/css" href="css/site.css">
</head>
<body data-ng-controller="myController" data-ng-app="myApp" class="app-body">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#page-top">MoreRecipes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a></li>
            <li class="nav-item">
              <a class="nav-link" href="#services">Top Recipes</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#services">Latest Recipes</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="#services">Add Recipe</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" href="#services">More</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">FAQs</a>
    <a class="dropdown-item" href="#">Feeback</a>
    <a class="dropdown-item" href="#">Contact us</a> 
		<a class="dropdown-item" href="#">Help & Support</a>
  </div>
            </li>
          </ul>
            <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 cursor-pointer" type="submit">Search</button>
  </form>
  <div> <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle hover-white" data-toggle="dropdown" aria-haspopup="true">
				<span class="comment-author">Adekunle <img src="/images/avatar.jpg" class="float-left"  />
        </span>
             </a>
          <div class="dropdown-menu" role="menu">
					<a class="dropdown-item" href="#"><i class="fa fa-gear padding-right-10"></i>Add Recipe</a>
						   <a class="dropdown-item" href="#"><i class="fa fa-gear padding-right-10"></i>Profile settings</a>
							  <a class="dropdown-item" class="" href="#"><i class="padding-right-10"></i>Favourite Recipe</a>
								 <a class="dropdown-item" class="" href="#"><i class="fa fa-lock padding-right-10"></i>Sign out</a>
								  <a class="dropdown-item" class="" href="#"><i class=" padding-right-10"></i>Terms and condition</a>
          </div>
        </div>
        </div>
        </div>
      </div>
    </nav>



<div class="container" id="body-container">

	<!--Begin Master Notification Container -->
 <section class=" master-notification margin-bottom-10 hide"  id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 text-center">
                    <span id="master-notify-close" data-ng-click="CloseMasterNotify()" class="white hover-black cursor-pointer float-left"><i class="fa fa-close"></i></span>
                    <p>{{MasterNotifyMessage}}</p>
                </div>
            </div>
        </div>
    </section>

<!--End Master Notification Container -->

<!--top banner -->
<section class=" top-banner margin-top-10"  id="subscribe">

<div class="container">
<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="banner-block">
<div class="top-header">

<div class="top-header-thumb">
<img src="/images/cover_photo.jpg" class="image-full"/>
</div>
<div class="profile-section">
<div class="row">
<div class="col-lg-5 col-md-5">
<ul class="profile-list">
<li>My Recent Recipes</li>
<li>Friends Recipes</li>
</ul>
</div>
<div class="col-lg-5 offset-2 col-md-5 ">
<ul class="profile-list">
<li class="active">My Profile</li>
<li>Add Recipe</li>
 <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Edit Profile</a></li>
			  <li><a href="#">Feedback</a></li>
          </ul>
        </li>
</ul>
</div>

</div>
<div class="control-block-button">
<a href="" class=" social-icons icon-circle " ><i class="fa fa-book bg-orange"></i></a>
<a href="" class="social-icons icon-circle" ><i class="fa fa-comment-o"></i></a>
<a href="" class="social-icons icon-circle dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-gear bg-pink-800"></i></a>
 <ul class="dropdown-menu dropdown-menu-danger" role="menu">
            <li><a class="" href="#">Update Profile Photo</a></li>
            <li><a href="#">Update Cover Photo</a></li>
            <li class="divider"></li>
            <li><a href="#">Account settings</a></li>
						
          </ul>

</div>
</div>
<div class="user-header-picture">
<a class="">
<img class="rounded-circle" src="/images/avatar.jpg" />
</a>
 <div class="author-date">
            <a href="author-name" >Olayinka Kunle</a>
            <div class="comment-date country">Lagos, Nigeria </div>
    </div>
</div>
</div>
</div>
	</div>
</div>
</div>
</section>







<!--Body content starts here -->
<div class="main-header">
<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="banner-block">
<div class="profile-tabs">
<div class="row">
<ul class="nav nav-pills profile-list" role="tablist">
<li class="active"><a class="nav-link" data-toggle="pill" href="#my-recipes">My Recipes</a></li>
<li class=""><a class="nav-link" data-toggle="pill" href="#add-recipe">Add a Recipe</a></li>
</ul>
</div>
</div>
<!--enter each tab content below-->
 <div class="tab-content">
    <div id="my-recipes" class="tab-pane fade show active">
<div class="row">
  <!--Simulate with Angular -->
<div data-ng-repeat="recipe in TotalRecipes" class="col-md-4 photo-album">
	<div class="banner-block">
	<div data-picturehover>
<img src="{{recipe.poster}}" title='<a class="" data-toggle="tooltip" title="click to edit recipe" data-placement="bottom"><i class="fa fa-edit fa-2x white"></i></a> '>
</div>
<div class="content">
<div><a class="title"><h5>My Recipe Background</h5></a><a class=" margin-left-10 float-left" data-ng-click="DeletePostedRecipe($index)" data-toggle="tooltip"  title="click to delete recipe" data-placement="bottom"><i class="fa fa-trash fa-2x"></i></a></div>
<span class="sub-title">Added 4 hours ago</span>
<span class="float-right"><a > <i  class="fa fa-chevron-down accordion-handle"></i></a></span>
  <div class="margin-top-10 padding-top-10 comment-content collapse" >   <p>I love the recipe. I tried it once and all my kids enjoyed the taste and aroma</p>
    <span>
                <a>
                  <i class="fa fa-spinner fa-spin"></i>
                </a>
            </span>
     <a class="comment-like social-icons icon-rounded" ><i class="fa fa-heart"></i><span class="action-value margin-left-10"> 24 </span></a>
     <a class="reply-comment margin-left-10">
        <span class="delete-recipe"> Reply </span>
         <div class="comment-container margin-top-10 hide"><form><input class="form-control inline" placeholder="comment" style="width:80%;height:40px;" /><a class="btn btn-lg btn-warning "><i class="fa fa-send white"></i></a></form></div>
     </a>
     </div>
</div>
</div>
</div>

  </div>
  </div>
    <div id="add-recipe" class="tab-pane fade">
        <div class="container">
<div class="row">
    <div class="col-md-6">
<h4 class="black text-center">Recipe Title</h4>
      <input type="text" placeholder="Recipe Title" class="form-control"/>
      <h4 class="black text-center">Ingredients List</h4>
      <table class="table table-bordered table-responsive table-striped">
<thead>
    <th>S/N</th>
     <th>Item</th>
    <th>Quantity</th>
    <th>Action</th>
</thead>
<tbody>
    <tr data-ng-repeat="x in Ingredients">
        <td>{{$index+1}}</td>
          <td>{{x.item}}</td>
        <td>{{x.quantity}}</td>
        <td><a class="" data-ng-click="RemoveIngredient($index)" style="padding-left:50%;padding-right:50%;" ><i class="fa fa-trash"></i></a></td>
    </tr>
</tbody>
      </table>
    <h4 class="black">Quantity</h4>
    <select class="form-control" data-ng-model="Quantity">
<option>None</option>
<option>1 quantity</option>
<option>2 quantities</option>
<option>2 cups</option>
<option>4 cups</option>
<option>6 cups</option>
<option>1 litre</option>
<option>2 litres</option>
<option>2 cups</option>
<option>little</option>
<option>1/2 cup</option>
<option>1/2 litre</option>
    </select>
      <h4 class="black">Item</h4>
    <div class="margin-top-10">
        <input class="form-control input-search inline" data-ng-model="Item" placeholder="Item" type="text" />
       <a data-ng-click="AddIngredient()" class="btn btn-info btn-lg btn-block margin-top-10">Add Ingredient</a>
    </div>
</div>
<div class="col-md-6">
<h5 class="black">Choose Recipe Photo</h5>
        <div class="fileinput fileinput-new" data-provides="fileinput">
                                                            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;border: 1px solid antiquewhite;"> </div>
                                                            <div>
                                                                <span class="btn red btn-outline btn-file">
                                                                    <span class="fileinput-new"> Select image </span>
                                                                    <span class="fileinput-exists"> Change </span>
                                                                    <input type="file" name="..."> </span>
                                                                <a href="javascript:;" class="btn btn-danger fileinput-exists" data-dismiss="fileinput"> Remove </a>
																<a href="" class="fileinput-exists btn-block btn btn-success margin-top-10" >Upload <i class="fa fa-upload"></i></a>
                                                            </div>
                                                        </div>
                                                       <div> 
                                                      <div class="text-center">     <h4 class="black">Procedures:</h4></div>
                                                           <textarea class="form-control" style="height:300px;" ></textarea>
                                                           </div>
                                                        <a class="btn btn-success btn-lg btn-block margin-top-10" >Post Recipe</a>
</div>
</div>
        </div>
        </div>
</div>
</div>
</div>
    </div>

<!--Recipe Item Template 10 random entries -->








</div>

<!-- Body content ends here -->
</div>
<!--End Row 1 -->

</div>
<!--Body content ends here -->

<footer class="">
<div class="container-fluid">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
<div class="about-widget">
<a href="#" class="logo">
						<img src="images/logo.png" alt="MoreRecipes">
						<h6 class="logo-title">MoreRecipes</h6>
						RECIPE LIBRARY
					</a>
					<p>
						More-Recipes​ provides​ ​a​ ​platform​ ​for​ ​users​ ​to​ ​share​ ​the​ ​awesome​ ​and​ ​exciting​ ​​ ​recipe​ ​ideas​ ​they
have​ ​invented​ ​or​ ​learnt.
							</p>
														<div style="padding-bottom:0px;" class='full-tile column col-xs-12 social-links'>
<div class="social-links-title margin-top-10">Go ahead and follow us on social media.</div>
<ul class="icons inline social-icons icon-circle margin-top-20">
<li class="pinterest" data-toggle="tooltip" title="Pinterest"><a href="" class="elegant-" target="_blank"><i class="fa fa-pinterest"></i></a></li>
<li class="facebook" data-toggle="tooltip" title="Facebook"><a href="" class="elegant-" target="_blank"><i class="fa fa-facebook"></i></a></li>
<li class="twitter" data-toggle="tooltip" title="Twitter"><a href="" class="" target="_blank"><i class="fa fa-twitter"></i></a></li>
<li class="googleplus" data-toggle="tooltip" title="GooglePlus"><a href="" class="social-icon icon-google_plus" target="_blank"><i class="fa fa-google-plus"></i></a></li>
<li class="instagram" class="tooltip" title="Instagram" ><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
</ul>
</div>
</div>
	</div>
	<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
<h6 class="text-center">Quick Links</h6>
<ul class="footer-links">
				<li><a href="/view-recipes/latest">Latest Recipe</a></li>
					<li><a href="/view-recipes/most-view">Most Viewed Recipe</a></li>
					<li><a href="/recipe-user/photos">Photos</a></li>
			<li><a href="/recipe-filter/trending">Trending</a></li>
				<li><a href="/recipe-filter/trending">Friends Recipe</a></li>
</ul>
	</div>
	<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 recipe-gallery">
<h4 class="text-center">Recipe Gallery</h4>   
<div class="row">
<div class="col-4 col-md-4 col-xs-6">
<a  data-lightbox="gallery-lightbox" href="images/gallery01.png" data-title="Recipe gallery" >	<img src="images/gallery01.png" ></a>
</div>
<div class="col-4 col-md-4 col-xs-6 col-3">
<a  data-lightbox="gallery-lightbox" href="images/gallery02.png" data-title="Recipe gallery" >	<img src="images/gallery02.png" ></a>
</div>
<div class="col-4 col-md-4 col-xs-6 col-3">
<a  data-lightbox="gallery-lightbox" href="images/gallery03.png" data-title="Recipe gallery" >	<img src="images/gallery03.png" ></a>
</div>
</div>
<div class="row">
<div class="col-4 col-md-4 col-xs-6 col-3">
	<a  data-lightbox="gallery-lightbox" href="images/gallery04.png" data-title="Recipe gallery" ><img src="images/gallery04.png" ></a>
</div>
<div class="col-4 col-md-4 col-lg-4 col-xs-4">
<a  data-lightbox="gallery-lightbox" href="images/gallery05.png" data-title="Recipe gallery" >	<img src="images/gallery05.png" ></a>
</div>
<div class="col-4 col-md-4 col-lg-4 col-xs-4">
<a  data-lightbox="gallery-lightbox" href="images/gallery06.png" data-title="Recipe gallery" >	<img src="images/gallery06.png" ></a>
</div>
</div>
<div class="row">
<div class="col-4 col-md-4 col-xs-6">
	<a  data-lightbox="gallery-lightbox" href="images/gallery07.png" data-title="Recipe gallery" ><img src="images/gallery07.png" ></a>
</div>
<div class="col-4 col-md-4 col-lg-4 col-xs-4">
<a  data-lightbox="gallery-lightbox" href="images/gallery08.png" data-title="Recipe gallery" >	<img src="images/gallery08.jpg"></a>
</div>
<div class="col-4 col-md-4 col-lg-4 col-xs-4">
<a  data-lightbox="gallery-lightbox" href="images/gallery09.png" data-title="Recipe gallery" >	<img src="images/gallery09.jpg" ></a>
</div>
</div>
	</div>
	<div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
<h6 class="text-center">More Recipe</h6>
<ul class="footer-links">
				<li><a href="/legal/privacy">Privacy</a></li>
					<li><a href="/legal/terms-conditions">Terms and Conditions</a></li>
					<li><a href="/social/forums">Forums</a></li>
			<li><a href="/others/statistics">Statistics</a></li>
				<li><a href="/developer/api/download">Web Developer API</a></li>
</ul>
	</div>
</div>
</div>
</footer>
<!--Begin Page Modal -->
<!--Terms and Conditions -->
    <div class="modal fade modal-rotate-from-left" id="modalTermsAndConditions" aria-hidden="false" aria-labelledby="modalSignIn"
                  role="dialog" tabindex="-1">
                    <div class="modal-dialog" >
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="modalSignUpTitle">Terms & Conditions</h4>
                        </div>
                        <div class="modal-body">
            <!-- Form -->
           By using MoreRecipe services you are agreeing to be bound by the following terms and conditions (“Terms of Service”). 
           MoreRecipe reserves the right to update and change the Terms of Service by posting updates and changes to this website.
            You are advised to check the Terms of Service oftenly for any updates.
            <div><h6>1. Account Terms</h6></div>
            <div>1. Recipes are published for publish use and we do not guaranty that your expectations will be met </div>
              <div>
                2. We are not liable for any harm or inconvenience trying this Recipe might cause. Users discretion is advised
              </div>
<div><h6>3. MoreRecipe Rights</h6></div>
<div>We reserve the right to modify or terminate the Service for any reason, without notice at any time.</div>
<div>We reserve the right to refuse service to anyone for any reason at any time</div>
               </div>
                          <div class="modal-footer">
                          <button type="button" class="btn btn-success margin-0" data-dismiss="modal">Close</button>
                        </div>
                        </div></div></div>
                        <!--End Terms and Conditions -->

<!--End Page Modal -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap-datepicker.min.js"></script>
<script src="js/tooltip.js"></script>
<script src="js/lightbox.js"></script>
<script src="js/bootstrap-fileinput.js"></script>
<script src="js/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script src="js/picturehover.js"></script>
</body>
</html>